<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div ngbAccordion activeIds="">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton i18n>{{ getOpenPreviewTitle() }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <pngx-input-check i18n-title title="Enable preview" i18n-hint
                        hint="This enables the preview. The rendered template will be updated according changes on the template string."
                        [(ngModel)]="enableTemplatePreview"
                        (change)="requestTemplatePreviewUpdate()"></pngx-input-check>

                    <pngx-input-select i18n-title title="Select document for preview" [items]="availableDocsForPreview"
                        bindLabel="title" allowNull="true" [(ngModel)]="selectedPreviewDocumentId"
                        (ngModelChange)="requestTemplatePreviewUpdate()"></pngx-input-select>

                    <small class="form-text text-muted text-end d-block mt-n2" i18n>When no document is selected a
                        generic default one will be used.</small>

                    <div class="mb-3">
                        <label for="previewFormControlTxtPrev" class="form-label" i18n>Preview:</label>
                        <textarea class="form-control" id="previewFormControlTxtPrev" rows="3"
                            [value]="templatePreviewResult?.preview" disabled readonly></textarea>
                    </div>

                    <div class="alert alert-danger d-flex align-items-center" role="alert" *ngFor="let error of templatePreviewResult?.errors">
                        <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Error:">
                            <use xlink:href="#exclamation-circle-fill" />
                        </svg>
                        <div>
                            {{error}}
                        </div>
                    </div>

                    <div class="alert alert-warning d-flex align-items-center" role="alert"
                        *ngFor="let warning of templatePreviewResult?.warnings">
                        <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Warning:">
                            <use xlink:href="#exclamation-triangle-fill" />
                        </svg>
                        <div>
                            {{warning}}
                        </div>
                    </div>

                </ng-template>
            </div>
        </div>
    </div>
</div>
